@import url('https://fonts.googleapis.com/css?family=Cinzel|Marck+Script');

.section {
    width: 100%;
    height: 375px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    /* background-color: #354659; */
    background-color: #350E0E; 
    
}

.header-pic {
    width: 100vh;
    display: flex;
    justify-content: center;
    padding-top: 25px;
}

.header-pic img {
    height: 250px;
}

.header {
    height: 100px;
    width: 100%;
    font-family: 'Cinzel', serif;
    color: #E8E8EA
}